<!-- Password change HTML -->
<form id="change-password">
  <fieldset>
    <input type='password'
    name='credentials[password]' placeholder='password'>

    <input type='password'
    name='credentials[password_confirmation]' placeholder='confirm password'>

    <input type="submit" name="submit" value="Change password">
    <input type="button" id="cancel-button" value="Cancel">
  </fieldset>
</form>
