<!-- Player while in game -->
<div class="row">

  <div id="player-name" class="player-name col-xs-offset-3 col-xs-4">
  </div>

  <div id="player-actions" class="player-actions col-xs-2">
  </div>
</div>
